.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-bottom: 10px;
}

.info p{
  margin-bottom: 8px;
}

.name {
  margin: 0 0 8px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.detail {
  margin: 4px 0;
  font-size: 0.9em;
}

.address {
  margin: 8px 0;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 4px;
}

.button {
  background-color: #243e89;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  /* width: 100%; */
  flex: 1;
}
